.listGroup {
  position: absolute;
  width: calc(100% - 1.5rem);
  background: #fff;
  box-shadow: 5px 5px 5px 0 rgb(240 240 240 / 100%);
  list-style: none;
  padding: 0;

  li {
    padding: 0.3rem 1rem;
    cursor: pointer;
    
    &:hover {
      background-color: #dee2e6;
    }

    &.activeColor {
      background-color: #adb5bd;
    }
  }
}

.comboButton {
  position: absolute;
  transform: translateY(-50%); 
  top: 50%;
  right: 20px;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background-size: cover;
  z-index: 5;

  &.active {
    background-image: url('../../assets/img/arrow-down.png');
  }

  &.inActive {
    background-image: url('../../assets/img/close.png');
  }

  &:hover {
    cursor: pointer;
  }
}