.header {
    display: flex;
    gap: 30px;
    padding: 20px;
    background-color: aliceblue;
    height: 100px;
}

.active {
    color: darkgrey;
    cursor: default;
}

.combobox-container {
    
}